### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## file
pyvenv.cfg

## directory
__pycache__/
bin/
include/
lib/

